@model Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.list_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.list_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.weight_gross)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.weight_gross)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.weight_liquid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.weight_liquid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.items_per_package)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.items_per_package)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ncm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ncm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.images)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.images)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { product = Model.sku }) |
    <a asp-action="Index">Back to List</a>
</div>
