@model WebConsumoApi.Models.ProdutoDB

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkuManufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkuManufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guarantee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guarantee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ncm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ncm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraOperatingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraOperatingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Images)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Sku">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
